@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-500.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;  
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-700.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;  
}

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/fonts/museosanscyrl-900.woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;  
}

.custom-font {
  font-family: 'MuseoSansCyrl', Arial, sans-serif;
}