$base-container-color: #fff;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #e8e8e8;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 25px 60px 25px 65px;
  // background-color: #fff;
  background-color: $base-container-color;
}

.header {
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.logo {
  display: block;
  margin-right: 15px;

  &__contact {
    display: block;
    font-size: 12px;
  }
}

.logo-pic {
  position: relative;
  width: 26px;
  height: 26px;
  background-color: #000;
  border-radius: 50%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 13px;
    height: 26px;
    background-color: $base-container-color;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item {
    margin-left: 15px;
    margin-right: 15px;
    list-style-type: disc;

    &:first-child {
      list-style-type: none;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* section card style */

.card {
  &__container {
    display: flex;
    padding-left: 30px;
  }

  &__description {
    width: 50%;
    padding-right: 100px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 60px;
  }

  &__pictures {
    position: relative;
    width: 50%;
    // background: linear-gradient(-45deg, #d26256, #9e5893, #f5eec5), linear-gradient(45deg, #dc4d86, #895bac, #3d31e4);
    background: linear-gradient(79deg, rgba(243, 59, 124, 0.7), rgba(180, 97, 235, 0.9), rgba(62, 50, 228, 0.7) 70%), linear-gradient(309deg, rgba(212, 99, 82), rgba(200, 141, 158, 0.7),rgba(238, 224, 22, 0.9) 70%);

    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    // padding: 165px 118px 0px 118px;
  }

  &__card-user {
    position: absolute;
    bottom: 80px;
    z-index: 3;
  }
}

.title {
  display: flex;
  margin-bottom: 40px;
}

.title__icon {
  // display: block;
  border: #000 solid 1px;
  padding: 4px;
  border-radius: 5px;
  width: 30x;
  height: 30px;
  margin-right: 10px;
}

.title__desc {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.info__title {
  display: block;
  font-size: 50px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 40px;
}

.info__text {
  display: block;
  font-size: 18px;
  font-style: normal;
  color: #494949;
  margin-bottom: 40px;
}

/* buttons */

/*stats*/

.stats {
  display: flex;
}
.stats__item {
  width: 50%;
}

.stats__title {
  font-size: 50px;
  font-family: "Lexend";
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 15px;
}

.stats__info {
  font-size: 14px;
  margin-bottom: 20px;
  color: #494949;
  position: relative;
}

.stats__info::after {
}

.stats__info--blue::after {
  content: "";
  display: block;
  width: 127px;
  height: 3px;
  position: absolute;
  background: linear-gradient(35deg, #f8fdff, #27c1ff, #5559ff);
  border-radius: 2px;
  margin-top: 20px;
}

.stats__info--pink::after {
  content: "";
  display: block;
  width: 127px;
  height: 3px;
  position: absolute;
  background: linear-gradient(35deg, #fefafb, #eb9ab6, #d73f73);
  border-radius: 2px;
  margin-top: 20px;
}

/* .line-cash {
  width: 127px;
  height: 3px;
  background: linear-gradient(35deg, #f8fdff, #27c1ff, #5559ff);
  border-radius: 2px;
}

.line-custom {
  width: 127px;
  height: 3px;
  background: linear-gradient(35deg, #fefafb, #eb9ab6, #d73f73);
  border-radius: 2px;
} */

/*Picture*/

.message-up {
  position: absolute;
  top: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 358px;
  padding: 17px 15px;
  background-color: #fff;
  border-radius: 15px;
  z-index: 8;

  &__logo {
    display: block;
    width: 25px;
    height: 24px;
  }

  &__info {
    font-size: 14px;
  }

  &__sum {
    font-weight: 600;
  }
}

.right-arrow {
  width: 15px;
  height: 12px;
}

.message-down {
  // position: absolute;
  // top: 482px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 206px;
  padding: 11px 20px;
  background-color: #fff;
  border-radius: 15px;
  // z-index: 9;

  &__logo {
    display: block;
    width: 19px;
    height: 19px;
    margin-right: 9px;
  }

  &__sum {
    font-weight: 600;
    margin-right: 95px;
  }
}

.phone {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 241px;
  height: 340px;
  background: linear-gradient(to bottom, #fff 74%, transparent);
  border-radius: 20px 20px 0px 0px;
  padding: 25px 20px;
  // z-index: 2;

  &__title {
    font-size: 16px;
    font-weight: 600;
  }
}

.phone__arrow {
  display: block;
  margin-bottom: 20px;
}

.card-user {
  width: 300px;
  height: 166px;
  background: #fff;
  border-radius: 10px;
  padding: 2px;
}

/* Up part of card */

.card-user__top {
  // position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  background: #000;
  border-radius: 10px 10px 0 0;
  padding: 20px 76px 20px 22px;
  z-index: 4;
}

.card-user__logo-wrapper {
  width: 45px;
  height: 25px;
}

.card-user__logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-user__form {
  display: flex;
  align-items: end;
}

.card-user__field {
  width: 200px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  // border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
}

.card-user__field::placeholder {
  font-size: 14px;
  color: #d3d0d0be;
}

/* Down part of card */

.card-user__bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40%;
  background: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px 25px;
}

.card-items {
  width: 50%;

  &__title {
    display: block;
    font-size: 14px;
    font-weight: 700;
  }

  &__info {
    display: block;
    font-size: 14px;
  }
}

.circles {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;

  &__circle-black {
    margin-right: -9px;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  &--black {
    background-color: #000;
  }

  &--white {
    border: 1px solid #000;
  }
}

/* footer style */

.footer {
  &__container {
    width: 1200px;
    margin: 0 auto;
    padding: 65px 60px 25px 90px;
    background-color: #fff;
  }
  &__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 45px;
    position: relative;
  }
  &__title::after {
    content: "";
    display: block;
    position: absolute;
    background-color: #ececec;
    height: 2px;
    width: 889px;
    top: 10px;
    left: 151px;
  }
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    margin-bottom: 60px;
  }
  &__item {
    width: 100px;
  }
}

/* .price::before {
  content: "";
  display: block;
  position: absolute;
  background-color: red;
  height: 1px;
  width: 40px;
  top: 10px;
  left: 92px;
}

 */
